<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta content="text/html;  charset=ISO-8859-1" http-equiv="Content-Type"/>
    <title>Welcome Page</title>
</head>
<body>
<div th:if="${param.error}">
    Invalid username/password.
</div>

<div th:if="${param.logout}">
    You have been logged out.
</div>

<h2>Welcome Page</h2>
<p>Click <a th:href="@{/private}">here</a> to see Private Page!</p>

<form method="post" sec:authorize="isAuthenticated()" th:action="@{/logout}">
    <input type="submit" value="Logout"/>
</form>

<form method="post" th:action="@{/h2-console}">
    <input type="submit" value="H2 Console"/>
</form>
</body>
</html>